<input type="text" [(ngModel)]="term" (keypress)="getfilterstudent()">

<label>column :</label>
<select [(ngModel)]="column">
<option >id</option>
<option>percentage</option>
</select>           &nbsp;&nbsp;


<label>oreder :</label>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>

<button (click)="getsortbystudent()">Sort</button>


<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>name </th>
            <th>avatar </th>
            <th>id </th>
            <th>percentage </th>
            <th>class </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of student">

            <td>{{a.name}}</td>
            <td>
                <img src="{{a.avatar}}" alt="" height="100px" width="100px">
            </td>
            <td>{{a.id}}</td>
            <td>{{a.percentage}}</td>
            <td>{{a.class}}</td>


        </tr>
    </tbody>
</table>