<div class="parent">
    
    <form >
        
        <br>
        <label>Name:</label>
        <input type="text">
        <br>
        <label>Class:</label>
        <input type="text">
        <br>
        <label>Father Name:</label>
        <input type="text">
        <br>
        <label>Email :</label>
        <input type="text">
        <br>
        <label>bod:</label>
        <input type="text">
        <br>
    
        <div formGroupName="address">

            <label>City</label>
            <input type="text" formControlName="city">
            <br>

            <label>State :</label>
            <input type="text" formControlName="State">
            <br>

            <label>Pincode :</label>
            <input type="text" formControlName="pincode">
            <br>

        </div>

        <br><br>

        <button>Submit</button>
        <br>
    </form>
</div> 
 
