<div class="parent">
    
    <form [formGroup]="studentForm" >
        
        <br>
        <label>Name:</label>
        <input type="text" formControlName="name">
        <br>
        <label>Class:</label>
        <input type="number" formControlName="class">
        <br>
        <label>Father Name:</label>
        <input type="text" formControlName="fathername">
        <br>
        <label>Email :</label>
        <input type="email" formControlName="email">
        <br>
        <label>bod:</label>
        <input type="text" formControlName="bod">
        <br>
    
        <div formGroupName="address">

            <label>City</label>
            <input type="text" formControlName="city">
            <br>

            <label>State :</label>
            <input type="text" formControlName="State">
            <br>

            <label>Pincode :</label>
            <input type="text" formControlName="pincode">
            <br>

        </div>

        <br><br>


        <button (click)="submit()">Submit</button>
        <br>
    </form>
</div> 
 
