<div class="parent">
    
    <form [formGroup]="studentForm" >

        <br>
        <label>Name:</label>
        <input type="text" formControlName="name">
        <div class="text-dark" *ngIf="studentForm.get('name')?.touched && studentForm.get('name')?.invalid">
            <p *ngIf="studentForm.get('name')?.errors?.['required']">Name is required </p>
            <p *ngIf="studentForm.get('name')?.errors?.['minlength']">Nameshould contain atlest 3 charaecters.</p>
        </div>
        <br>
        <label>Class:</label>
        <input type="number" formControlName="class">
        <br>
        <label>Father Name:</label>
        <input type="text" formControlName="fathername">
        <br>
        <label>Email :</label>
        <input type="email" formControlName="email">
        <br>
        <label>bod:</label>
        <input type="text" formControlName="bod">
        <br>

            <!-- Nested form -->

        <div formGroupName="address">

            <label>City :</label>
            <input type="text" formControlName="city">
            <br>

            <label>State:</label>
           <select formControlName="State">
            <option value="TS">Telangana</option>
            <option value="Ap">Andra Pradesh</option>
           </select>
           <div class="text-danger" *ngIf="studentForm.get('address')?.touched && studentForm.get('State')?.invalid">
            <p *ngIf="studentForm.get('address')?.get('State')?.errors?.['required']">state is required</p>

           </div>
            <br>

            <label>PinCode:</label>
            <input type="text" formControlName="pincode">
            <br>

        </div>

        <!-- dynamic method -->

        <label>type:</label>
        <input type="radio" name="type" formControlName="type" value="dayScholor">
        <label>day scholor</label>
        <input type="radio" name="type" formControlName="type" value="residentail">
        <label>residentail</label>

        <div *ngIf="studentForm.get('type')?.value == 'dayScholor'">
            <label>bus fee:</label>
            <input type="number" formControlName="busFee">
        </div>

        <div *ngIf="studentForm.get('type')?.value == 'residentail'">
            <label>hostel fee:</label>
            <input type="number" formControlName="hostelFee">
        </div>




            <!-- form Array -->

        <button (click)="addMarks()">Add Marks</button>

        <div formArrayName="Marks">

            <div *ngFor="let mark of marksFormArray.controls; let i = index">

                <div formGroupName="{{i}}">

                    <label>Class</label>
                    <input type="text" formControlName="class">
                    <br>
        
                    <label>Year :</label>
                    <input type="text" formControlName="year">
                    <br>
        
                    <label>Percentage :</label>
                    <input type="text" formControlName="percentage">
                    <br>
        
                    <button (click)="deleteMark(i)">delete</button>

                </div>

            </div>
           
        </div>

        <br><br>


        <button (click)="submit()">Submit</button>
        <br>
    </form>
</div> 
 
